*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 100px;
}

body{
    background-color: #05072F;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

main{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.part1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    gap: 30px;

}

.part2{
    width: 50%;
    background-image: url('../imgs/Wings-BTS.jpg');
    background-size: cover;
}


nav{
    color: white;
    background-color: #05072F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
}


.FECAFMUSIC{
    font-size: 20px;
}

.nav-group-center,
.nav-group-right {
  font-size: 20px;
}

.nav-group * {
  margin: 0 10px;
}

.nav-group:not(:first-child) {
  margin-left: 20px;
}

h1{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 120px;
    width: 600px;
    margin-top: 100px;
}

.fecaf-color{
    color: #CF092D;
}

span.change-color{
    color: #CF092D;
}

.texto{
    align-items: left;
    max-width: 800px;
    word-wrap: break-word;
}

label[for="text-area"]{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

.download{
    background-color: #CF092D;
    padding: 20px 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
}

.start {
    background-color: #fff;
    padding: 20px 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
}

footer{
    align-items: center;
    height: 100px;
}

.footer-text{
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px;
}
